<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Farkel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Farkel.Properties.Settings>
            <setting name="player1" serializeAs="String">
                <value>Tony</value>
            </setting>
            <setting name="player2" serializeAs="String">
                <value>Tyler</value>
            </setting>
            <setting name="player3" serializeAs="String">
                <value>Cassy</value>
            </setting>
            <setting name="player4" serializeAs="String">
                <value>Angela</value>
            </setting>
            <setting name="player5" serializeAs="String">
                <value>Gary</value>
            </setting>
            <setting name="player6" serializeAs="String">
                <value>Lori</value>
            </setting>
            <setting name="Comp1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comp2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comp3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comp4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comp5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Comp6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="players" serializeAs="String">
                <value>2</value>
            </setting>
        </Farkel.Properties.Settings>
    </userSettings>
</configuration>